<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common::head"></div>
</head>
<body class="w-100 overflow-x-hidden " style="height:100vh">
    <header  class="w-100 bg-dark">
        <nav th:replace="common::header__main">
        </nav>
    </header>

    <form class="bg-dark text-white rounded w-75 d-block mx-auto my-4 py-4" style="max-width: 380px">
        <h1 clasS="fs-2 text-center py-3">Login</h1>
        <div class="container d-flex flex-column gap-3 mt-2">
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping2"><i class="fa-solid fa-key"></i></span>
                <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping2">
            </div>
        </div>
        <div class="mx-auto text-center w-75 mt-4">
            <button class="btn btn-primary btn-lg my-4">Login</button>
            <h5>¿No tienes una cuenta?</h5>
            <p>Haga click aca para registrarse: <a th:href="@{/registro/}">Registrarse</a></p>
        </div>
    </form>

    <footer class="w-100 bg-dark mt-2">
        <div th:replace="common::footer"></div>
    </footer>
</body>
</html>